<!DOCTYPE html>
<!--


     ┍-┑        ┍-┑
     | |        | |
    ┍---------------┑
    |               |
    |       ——      |
    |   ┰-┙   ┕-┰   |
    |               |
    |       ┸       |
    |               |
    ┕----┑      ┍---┙
         |      |   神兽在此
         |      |   bug没有
         |      ┕------------┑
         |                   |
         |                   |
         |                   |
         ┕-┑ ┑ ┑------┑ ┑ ┑--┙
           | | |      | | |
           ┕-┸-┙      ┕-┸-┙
-->
<html>
<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.favicon %>" />
</head>
<body>
<!-- 垫片 -->
<div id="app"></div>
<!-- built files will be auto injected -->
<script>
    var yangtuo = ''+
        '     ┍-┑        ┍-┑              \n'+
        '     | |        | |              \n'+
        '    ┍---------------┑            \n'+
        '    |               |            \n'+
        '    |       ——      |            \n'+
        '    |   ┰-┙   ┕-┰   |            \n'+
        '    |               |            \n'+
        '    |       ┸       |            \n'+
        '    |               |            \n'+
        '    ┕----┑      ┍---┙            \n'+
        '         |      |   神兽在此      \n'+
        '         |      |   bug没有       \n'+
        '         |      ┕------------┑   \n'+
        '         |                   |   \n'+
        '         |                   |   \n'+
        '         |                   |   \n'+
        '         ┕-┑ ┑ ┑------┑ ┑ ┑--┙   \n'+
        '           | | |      | | |      \n'+
        '           ┕-┸-┙      ┕-┸-┙   ';
    console.log(yangtuo);
</script>
</body>
</html>
