/**
 * Created by joyer on 17/10/23.
 */


@import "../../../node_modules/@hasaki-ui/hsk-janna/lib/scss/var";

$menu__width:                   250px;
$menu__width--shrink:           50px;
$menu__padding-left:           35px;
$menu__padding-left--shrink:   18px;